.hamburger-lines div {
    /* Definir la transición con duración y tipo de efecto de timing */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger-lines.active div:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-lines.active div:nth-child(2) {
    opacity: 0;
   
}

.hamburger-lines.active div:last-child {
    transform: translateY(-5px) rotate(-45deg);
}

/* Estilo inicial del menú: oculto */
.navigation {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

/* Estilo del menú cuando está desplegado */
.navigation.open {
    height: 600px; /* O define una altura específica si lo prefieres */
}

