.hamburger-lines div {
    /* Definir la transición con duración y tipo de efecto de timing */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger-lines.active div:first-child {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-lines.active div:nth-child(2) {
    opacity: 0;
    /* Puede que no necesites transformar la barra del medio si solo se vuelve transparente */
}

.hamburger-lines.active div:last-child {
    transform: translateY(-8px) rotate(-45deg);
}
